extends layout

block content
  h1 Home Server
  p.lead Start structure for node.js application with typescript. Focus in this project is on learning and how to structure an server application in ts.
  hr
  .row
    .col-sm-3
      h2 Express
      p Express powers this application
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-3
      h2 Typescript
      p Typescript is nice.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-3
      h2 Mongoose
      p An OMD for MongoDB 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-3
      h2 Pug
      p View Engine used
      p
        a.btn.btn-default(href='#', role='button') View details »